
#grid1{
    -fx-background-image: url("pic.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: /*900 506*//*1000 1000*/cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
Button {
    -fx-font-size: 50pt;
   -fx-text-fill:Blue;
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(orange, orangered );
}
 